[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    docs/source,
    spec2nexus/_version.py,
    demo,
    docs/debug*.py,

# E501 line too long
# many long lines in python code
# most in documentation
# some in test cases
max-line-length = 115
# TODO: re-enable E501 error
ignore: D203,D212,D415,E203,E226,E402,E501,E741,F401,F403,F811,W503,W504,W605
