include README.md
include src/spec2nexus/LICENSE.txt
include src/spec2nexus/data/*
include src/spec2nexus/plugins/*.xsd
include versioneer.py
include src/spec2nexus/_version.py
include src/spec2nexus/diffractometer-geometries.dict
